<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Fake currency detection</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/slick.css"/>

        <link href="../static/css/tooplate-little-fashion.css" rel="stylesheet">

    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                   

                    <a class="navbar-brand" href="index.html">
                        <strong><span>Fake </span> Currency Detection</strong>
                    </a>

                    

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('first')}}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login')}}">Login</a>
                            </li>
 
                        </ul>

                        
                    </div>
                </div>
            </nav>

            <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src="../static/images/slideshow/money11.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Identification of Fake Currency</h1>   

                                    <p class="lead text-white mt-lg-3 mb-lg-5"></p>
 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="../static/images/slideshow/money10.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Identification of Fake Currency</h1>   

                                    <p class="lead text-white mt-lg-3 mb-lg-5"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="../static/images/slideshow/money6.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Identification of Fake Currency</h1>   

                                    <p class="lead text-white mt-lg-3 mb-lg-5"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

           
        <!-- <footer class="site-footer">
            <div class="container">
                <div class="row">

                    

                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3"> </h5>

                        
                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3"> </h5>

                        
                    </div>

                </div>
            </div>
        </footer> -->

        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/Headroom.js"></script>
        <script src="../static/js/jQuery.headroom.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/custom.js"></script>

    </body>
</html>
